@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}
.frame {
  
  margin: 0px auto;
  width: 400px;
  height: 400px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #43389f;
  
  background: linear-gradient(to top right, #43389f , #4ec6ca );
  color: #333;
  font-family: 'Courier New', 'Courier', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 position: relative;
 height: 200px;
}

.number{
  position: relative;
  height: 100px;
  width: 200px;
}

.one-one{
  position: absolute;
  z-index: 1;
  top: 1px;
  left: -16px;
  height: 40px;
  width: 24px;
  background: #fff;
  border-radius: 3px;
  transform: rotate(50deg);
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.one-two{
  position: absolute;
  z-index: 10;
  top: 0;
  height: 100px;
  width: 24px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.zero-one, .zero-two{
position: absolute;
z-index: 8;
top: 0;
left: 17px;
height: 50px;
width: 50px;
border-radius: 50%;
border: 24px solid #fff;
box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

.zero-two{
  z-index: 6;
  left: 100px;
}

.big{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  color: #fff;
  margin-top: -11px;
}

.small{
  color: #fff;
  display: flex;
font-size: 1.5rem;
font-weight: 700;
text-transform: uppercase;
margin-top: -17px;
align-items: center;
justify-content: center;

}